{% extends "admin/bars.html.twig" %}

{% block contenpage %}
	<style>
		.card {
			width: 50%;
		}
		.row {
			text-align: center;
			font-size: 14px;
		}
		input {
			text-align: center;
			font-size: 14px;
		}
		.btn-import {
			margin-left: 50%;
			height: fit-content;
		}
	</style>
	<div class="row">
		<h1>{{ "backend.menu.main"|trans }}</h1>
		<button type="button" class="btn btn-info btn-import">{{ "backend.btn.data_import"|trans }}</button>
	</div>
	<div class="container">
		<div class="row">
			<div class="card">
				<input class="form-control" type="text" name="daterange" value="01/01/2018 - 01/15/2018" id="duou"/>
			</div>
			<div class="card">
				<div class="col">Column</div>
			</div>
			<div class="w-100"></div>
			<div class="card">
				<div class="col">Column</div>
			</div>
			<div class="card">
				<div class="col">Column</div>
			</div>
			<div class="w-100"></div>
			<div class="card">
				<div class="col">Column</div>
			</div>
			<div class="card">
				<div class="col">Column</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
$('input[name="daterange"]').daterangepicker({
opens: 'left'
}, function (start, end, label) {
console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
});
});
	</script>
{% endblock %}
